<div class="col-lg-11 row-l fixed-header fixed-footer">
    <section class="row align-bottom">
        <div class="container btn-cont">
            <h1 class="tbl-header">Adminpanel</h1>
            <div class="row">
                <div class="col-xs-3 index-green">
                    <a class="btn btn-lg btn-block btn-huge index-btn" href="/admin/accounts">
                        <span class="glyphicon glyphicon-book"></span></br>Accounts</a>
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-lg btn-block btn-huge index-btn" href="/admin/articles">
                        <span class="glyphicon glyphicon-phone"></span></br>Articles</a>
                </div>
                <div class="col-xs-3">

                </div>
                <div class="col-xs-3">

                </div>
            </div>
        </div>
    </section>
</div>
