<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">HSRmarket</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li class="nav-link">
                <a href="/">Home</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="column">
        <h4>List new article</h4>
        <form method="post" action="/save">
            <div>
                <label for="ID">ID:</label>
                <input name="id" id="id" placeholder="ID" type="number" required/>
            </div>
            <div>
                <label for="IBANnumber">IBAN number:</label>
                <input name="iban" id="iban" placeholder="IBAN number" type="text" required/>
            </div>
            <div>
                <label for="Author">Author:</label>
                <input name= "author" id="author" placeholder="Author" type="text" required/>
            </div>
            <button type="submit" class="button">Add</button>
        </form>
    </div>
</div>