<div class="col-lg-11 row-l pd-left-100 width-eighty fixed-header fixed-footer">
    <section class="row">
        <div class="column">
            <h1 class="tbl-header">{{pageTitle}} - {{data.firstname}} {{data.lastname}}</h1>
        </div>
            <form action="/accounts/{{userid}}" method="post">
                {{> accountform}}
                <div>
                    <button  class="btn tbl-btn type="submit">Save changes</button>
                    <a class="btn tbl-btn" href="/">Cancel</a>
                </div>
            </form>
    </section>
</div>