
<div class="logincontainer">

    <div class="login_content">
        <img src="../../../images/icon_q_dooted.png" />
        <h2><b>HSR</b><i>market</i></h2>

        <div class="info">Welcome to the HSRmarket. In order to use the full functionallity
            you have to <b>login</b> into the application.</br>
            If you don´t already have an account, register a new one.
        </div>
    <div>
        <a href="/api/user/login">Login</a>
    </div>
    <div>
        <a href="/api/user/register">Registrieren.</a>
    </div>
    </div>
    <div class="login_footer">
        (c) 2017 by HSRmarket. All rights reserved.
    </div>
</div>