<div class="col-lg-11 row-l fixed-header fixed-footer">
    <section class="container-fluid">
        <h1 class="tbl-header">Impressum</h1>
        <div class="row marg-left-0">
            <b>Administrator</b>
            <p>HSRmarket Team</p>

            <b>Design, Programmierung und Umsetzung</b>
            <p>Elias Brunner<br/>
            Urs Forrer<br/>
            Raphael Jöhl<br/>
            Felix Enchiparamban<br/>
            Arooran Thanabalasingam</p>

            <b>Hosting</b>
            <p>Diese Web-App wird auf einem privaten Server gehosted.</p>

            <b>Hinter der Webseite</b>
            <p>Die Web-App wird mit NodeJS betrieben und greift im Hintergrund auf die REST-Schnittstelle von HSRmarket zu, welche auch durch die Android App genutzt wird.</p>
        </div>
    </section>
</div>