<nav class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">HSRmarket</li>
            <li class="nav-link">
                <a href="/">Start</a>
            </li>
            <li class="nav-link">
                <a href="/fetch">Books</a>
            </li>
            <li class="nav-link">
                <a href="/fetch">Electronics</a>
            </li>
            <li class="nav-link">
                <a href="/fetch">Office supplies</a>
            </li>
            <li class="nav-link">
                <a href="/fetch">Other</a>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
            <li>
                <a href="#">"USER NAME"</a>
                <ul class="menu vertical">
                    <li><a href="#">My Articles</a></li>
                    <li><a href="#">My Sales</a></li>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<section class="row main">
    <div class="column align-self-middle">
        <form method="get" action="/fetch">
            <figure>
                <img src="/images/ICON_HSRMARKET_MIT_TEXT_TRANSPARENT.png" alt="HSRmarket">
            </figure>
            <div>
                <div >
                    <input placeholder="search", type="text", name="search" required />
                </div>
                <button type="submit" class="button" disabled>Search</button>
            </div>
        </form>
    </div>
</section>
<footer>
    <div class="wrap row small-up-1 medium-up-3">
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
    </div>

</footer>