<div class="col-lg-11 row-l fixed-header fixed-footer">
    <section class="row align-bottom">
        <div class="column align-self-middle">
            <form method="get" action="/search">
                <figure>
                    <img src="/images/ICON_HSRMARKET_MIT_TEXT_TRANSPARENT.png" class="img-responsive" alt="HSRmarket">
                </figure>
                <div class="form-group row srch-bar">
                    <div class="col-xs-10 srch-field">
                        <input type="text" class="form-control srch-input hard-crnr" name="search" placeholder="Search.." id="search_key" value="">
                    </div>
                    <button class="btn btn-sm col-xs-2 hard-crnr" type="submit">Go!</button>
                 </div>
            </form>
        </div>
        <div class="container btn-cont">
            <div class="row">
                <div class="col-xs-3 index-green">
                    <a class="btn btn-lg btn-block btn-huge index-btn" href="/articles/books">
                        <span class="glyphicon glyphicon-book glyphicon-lg"></span></br>
                        <p>Books</p>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-lg btn-block btn-huge index-btn" href="/articles/electronics">
                        <span class="glyphicon glyphicon-phone glyphicon-lg"></span></br>
                        <p>Electronics</p>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-lg btn-block btn-huge index-btn" href="/articles/officesupplies">
                        <span class="glyphicon glyphicon-pencil glyphicon-lg"></span></br>
                        <p>Office supplies</p>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a  class="btn btn-lg btn-block btn-huge index-btn" href="/articles/other">
                        <span class="glyphicon glyphicon-asterisk glyphicon-lg"></span></br>
                        <p>Other</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="row align-bottom fixed-footer">
        <div class="column align-self-middle tbl">
            <header class="tbl-header">
                <h1>Recent articles in the market</h1>
            </header>
            {{#if articles.length}}
                <table class="table width-fifty">
                    <thead>
                    <tr class="hidden">
                        <th class="art-tbl-right">ID</th>
                        <th >Article</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each articles}}
                        <tr>
                            <td class="art-tbl-right"><a href="/articles/{{id}}">{{id}}</a></td>
                            <td>{{name}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            {{else}}
                <div> current collection is empty. </div>
            {{/if}}
        </div>
    </section>
</div>
