<div class="col-lg-11 row-l fixed-header fixed-footer">
    <section class="container-fluid">
        <h1 class="tbl-header">Kontakt</h1>
        <div class="row marg-left-0">
            <p>Falls bei der Benützung von HSRmarket Fragen auftauchen, können Sie uns unter folgenden Angaben erreichen:</p>

            <b>Über E-Mail</b>
            <p>team@hsrmarket.ch</p>

            <b>Über Twitter</b>
            <p>twitter.com/hsrmarket</p>

            <b>Per Post</b>
            <p>Oberseestrasse 10<br/>
            8640 Rapperswil SG</p>

        </div>
    </section>
</div>