<!DOCTYPE html>
<html>
  <head>
    <title>HSRmarket</title>
    <link rel="stylesheet" href='/stylesheets/app.css'>
    <link rel="stylesheet" href='/stylesheets/foundation.css'>
  </head>
  <body class="flex-container">
      <nav class="top-bar" >
          <div class="top-bar-left">
              <ul class="dropdown menu" data-dropdown-menu>
                  <li class="menu-text">HSRmarket</li>
                  <li class="nav-link">
                      <a href="/">Start</a>
                  </li>
                  <li class="nav-link">
                      <a href="/api/articles/books">Books</a>
                  </li>
                  <li class="nav-link">
                      <a href="/api/articles/electronics">Electronics</a>
                  </li>
                  <li class="nav-link">
                      <a href="/api/articles/officesupplies">Office supplies</a>
                  </li>
                  <li class="nav-link">
                      <a href="/api/articles/other">Other</a>
                  </li>
              </ul>
          </div>
          <div class="top-bar-right">
              <ul class="dropdown menu" data-dropdown-menu>
                  <li>
                      <a href="#">"USER NAME"</a>
                      <ul class="menu vertical">
                          <li><a href="#">My Articles</a></li>
                          <li><a href="#">My Sales</a></li>
                          <li><a href="#">My Account</a></li>
                          <li><a href="#">Logout</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
      </nav>

      {{{body}}}

      <footer class="align-bottom ">
          <div class="wrap row small-up-1 medium-up-3">
              <figure>
                  <img src="/images/ICON_HSRMARKET_OHNE_TEXT_TRANSPARENT.png" alt="HSRmarket" width="60rem" height="60rem">
              </figure>
              <div class="column"></div>
          </div>
      </footer>

        <script src="/js/vendor/jquery.js"></script>
        <script src="/js/vendor/what-input.js"></script>
        <script src="/js/vendor/foundation.js"></script>
        <script src="/js/app.js"></script>
  </body>
</html>
