<!DOCTYPE html>
<html>
  <head>
    <title>{{title }}</title>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
    <link rel="stylesheet" href='/css/bootstrap.css'>
    <link rel="stylesheet" href='/css/bootstrap-theme.css'>
    <link rel="stylesheet" href='/css/app.css'>
    {{#if css}}
        <link rel="stylesheet" href='/css/login.css'>
    {{/if}}
    <script src="https://use.fontawesome.com/ad0ef2104a.js"></script>

  </head>
  <body>
      {{{body}}}

      <footer >
          <div class="navbar navbar-default navbar-fixed-bottom">
              <div class="container-fluid nav-cont l-green">
                  <div class="navbar-left l-green">
                      <figure>
                          <img src="/images/icon_q.png" alt="HSRmarket" width="60rem" height="60rem">
                      </figure>
                  </div>
                  <div class="navbar-right navbar-text pull-right footertext">
                      <span><a href="/impressum">Impressum</a> - <a href="/rechtliches">Rechtliches</a> - <a href="/kontakt">Kontakt</a></span>
                      <p>(c) 2017 by HSRmarket. All rights reserved</p>
                  </div>
              </div>
          </div>
      </footer>
      <script src="/js/jquery.js"></script>
      <script src="/js/bootstrap.js"></script>
  </body>
</html>
