
<div class="container">

    <form class="form-signin" action='/api/user/login' method='post'>
        <input placeholder="backref" type="hidden"  name="_backref"  value="{{backref}}">
        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="inputEmail" class="sr-only">Username</label>
        <input  type="email" name="username" id="inputEmail" class="form-control" placeholder="Username" required="" autofocus="">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>
