
<section class="row">
    <div class="column">
        <h1>My Articles</h1>
    </div>
    {{#if articles.length}}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Discription</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each articles}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td>{{category}}</td>
                    <td>
                        <a class="button" href="<!-- TODO -->" disabled="true">Edit</a>
                        <a class="hollow alert button" href="<!-- TODO -->" disabled="true">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <div> Currently the list is empty. </div>
    {{/if}}
</section>
