<div class="col-lg-11 row-l">
    <section class="row">
        <div class="column">
            <h1>My Purchases</h1>
        </div>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Discription</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each articles}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                        <td>{{type}}</td>
                        <td>{{price}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
    </section>
</div>
<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid navbar-left">
        <figure>
            <img src="/images/ICON_HSRMARKET_OHNE_TEXT_TRANSPARENT.png" alt="HSRmarket" width="60rem" height="60rem">
        </figure>
    </div>
    <div class="container-fluid navbar-right navbar-text pull-right">
        <p>(c) 2017 by HSRmarket. All rights reserved</p>
    </div>
</footer>