<div class="col-lg-11 row-l fixed-footer fixed-header">
    <section class="row">
        <div class="column">
            <h1>My Purchases</h1>
        </div>
            <table>
                <thead>
                    <tr>
                        <th class="art-tbl-left">Title</th>
                        <th class="width-fifty">Description</th>
                        <th class="art-tbl-right">Category</th>
                        <th class="art-tbl-right">Price</th>
                        <th class="art-tbl-right"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each articles}}
                        <tr>
                            <td class="art-tbl-left">{{name}}</td>
                            <td class="width-fifty">{{description}}</td>
                            <td class="art-tbl-right">{{type}}</td>
                            <td class="art-tbl-right">{{price}}</td>
                            <td class="art-tbl-right"></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>