<div class="col-lg-11 row-l">
    <section class="row">
        <div class="column">
            <h1>My Purchases</h1>
        </div>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each articles}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                        <td>{{type}}</td>
                        <td>{{price}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
    </section>
</div>