<div class="col-lg-11 row-l fixed-header fixed-footer">
    <section class="container-fluid">
        <h1 class="tbl-header">My Sales</h1>
        <p>This view is showing you all articles that you have sold to other HSRmarket users.</p>
        <div class="row marg-left-0">
            <div>
                <table class="table width-eighty">
                    <thead>
                        <tr>
                            <th class="art-tbl-left">Title</th>
                            <th class="width-fifty">Description</th>
                            <th class="art-tbl-right">Category</th>
                            <th class="art-tbl-right">Price</th>
                            <th class="art-tbl-right">Bought by</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each sales}}
                            <tr>
                                <td class="art-tbl-left">{{article.name}}</td>
                                <td class="width-fifty">{{article.description}}</td>
                                <td class="art-tbl-right">{{article.type}}</td>
                                <td class="art-tbl-right">{{article.price}}</td>
                                <td class="art-tbl-right"></td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
            </div>
        </div>
    </section>
</div>