<div class="col-lg-11 row-l fixed-header fixed-footer">
    <div class="container-fluid">
        <h1>Select the type</h1>
        <p>Please select the type of the article, which you would like to add and then press next to take the next step.</p>
        <form method="get" action="/articles/add">
            <select name="type">
                    <option name="book" value="book" selected>books</option>
                    <option name="electronic" value="electronic">electronics</option>
                    <option name="officesupplie" value="officesupplie">officesupplies</option>
                    <option name="other" value="other">other</option>
            </select>
            <button  class="button large success" type="submit">next</button>
        </form>
    </div>
</div>