<div class="col-lg-11 row-l fixed-header fixed-footer">
    <section class="container-fluid">
        <h1 class="tbl-header">Rechtliches</h1>
        <div class="row marg-left-0">
            <p>Obwohl HSRmarket mit aller Sorgfalt auf die Richtigkeit der veröffentlichten Informationen achtet, kann hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit dieser Informationen keine Gewährleistung übernommen werden.</p>

            <b>Haftung</b>
            <p>Der HSRmarket behält sich ausdrücklich vor, jederzeit Inhalte ohne Ankündigung ganz oder teilweise zu ändern, zu löschen oder zeitweise nicht zu veröffentlichen. Haftungsansprüche gegen den HSRmarket wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen.</p>

            <b>Verweise und Links</b>
            <P>Verweise und Verknüpfungen auf Webseiten Dritter liegen ausserhalb des Verantwortungsbereichs des HSRmarket's. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene Gefahr des Nutzers oder der Nutzerin. HSRmarket erklärt ausdrücklich, dass er keinerlei Einfluss auf die Gestaltung, den Inhalt und die Angebote der verknüpften Seiten hat. Informationen und Dienstleistungen von verknüpften Webseiten liegen vollumfänglich in der Verantwortung des jeweiligen Dritten. Es wird jegliche Verantwortung für solche Webseiten abgelehnt.</p>

            <b>Copyright</b>
            <p>Diese Website und alle dazugehörigen Texte, Grafiken, Logos sowie andere Materialien und das Design sind urheberrechtlich geschützt. Jegliche Verwendung ohne vorherige schriftliche Zustimmung durch den Webmaster der Seite ist nicht gestattet.</p>
        </div>
    </section>
</div>