
<div class="logincontainer registercontainer">

    <div class="login_content">
        <img src="../../../images/icon_q_dooted.png" />
        <h2><b>HSR</b><i>market</i></h2>
        <!--action='/api/user/register' method='post'-->
        <form class="form-signin">
            <input placeholder="backref" type="hidden"  name="_backref"  value="{{backref}}">

            <div class="info">Please ﬁll out all ﬁelds in order to register to HSRmarket.</div>

            <label for="inputName" class="sr-only">First and Lastname</label>
            <div class="input-group wdth-hun">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input  type="text" name="name" id="inputName" class="form-control" placeholder="First and Lastname" required="" autofocus="">
            </div>

            <label for="inputAddress" class="sr-only">Address</label>
            <div class="input-group wdth-hun">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input  type="text" name="Address" id="inputStreet" class="form-control" placeholder="Address" required="" autofocus="">
            </div>

            <label for="inputCity" class="sr-only">PLZ and City</label>
            <div class="input-group wdth-hun">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input  type="text" name="City" id="inputCity" class="form-control" placeholder="PLZ and City" required="" autofocus="">
            </div>

            <label for="inputPhone" class="sr-only">Phone Number</label>
            <div class="input-group wdth-hun">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input  type="text" name="Phone" id="inputPhone" class="form-control" placeholder="Phone Number" required="" autofocus="">
            </div>

            <label for="inputStudentID" class="sr-only">StudentID</label>
            <div class="input-group wdth-hun">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input  type="text" name="StudentID" id="inputStudentID" class="form-control" placeholder="StudentID" required="" autofocus="">
            </div>

            <label for="inputMail" class="sr-only">Mail</label>
            <div class="input-group wdth-hun">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input  type="email" name="Mail" id="inputMail" class="form-control" placeholder="Mail" required="" autofocus="">
            </div>

            <label for="inputPassword" class="sr-only">Password</label>
            <div class="input-group wdth-hun">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            </div>

            <button class="btn btn-lg btn-block" type="submit">Send Data</button>
        </form>
    </div>

    <div class="login_footer">
        (c) 2017 by HSRmarket. All rights reserved.
    </div>
</div>
