<div class="logincontainer registercontainer">

    <div class="login_content">

        <img src="../../images/icon_q_dooted.png" />
        <h2><b>HSR</b><i>market</i></h2>

        <form class="form-signin" role="form" method="post" action="/user/register">
            <div class="input-group wdth-hun">
                <div class="info mrg-btm-tw">Please fill out all fields in order to register to HSR<i>market</i>.</div>

                <label for="studentID" class="sr-only">Student ID</label>
                <div class="input-group wdth-hun">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="studentID" placeholder="Student ID" name="studentID">
                </div>
            </div>
            <div class="input-group wdth-hun">
                <label for="firstname" class="sr-only">Firstname</label>
                <div class="input-group wdth-hun">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="firstname" placeholder="Firstname" name="firstname">
                </div>
            </div>
            <div class="input-group wdth-hun">
                <label for="lastname" class="sr-only">Lastname</label>
                <div class="input-group wdth-hun">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="lastname" placeholder="Lastname" name="lastname">
                </div>
            </div>
            <div class="input-group wdth-hun">
                <label for="street" class="sr-only">street</label>
                <div class="input-group wdth-hun">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="street" placeholder="street" name="street">
                </div>
            </div>
            <div class="input-group wdth-hun">
                <label for="streetnr" class="sr-only">Street Nr</label>
                <div class="input-group wdth-hun">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="streetnr" placeholder="Street Nr" name="streetnr">
                </div>
            </div>
            <div class="input-group wdth-hun">
                <label for="plz" class="sr-only">ZIP</label>
                <div class="input-group wdth-hun">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="zip" placeholder="PLZ" name="zip">
                </div>
            </div>
            <div class="input-group wdth-hun">
                <label for="city" class="sr-only">City</label>
                <div class="input-group wdth-hun">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="city" placeholder="city", name="city">
                </div>
            </div>
            <div class="input-group wdth-hun">
                <label for="mailAddress" class="sr-only">Email</label>
                <div class="input-group wdth-hun">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="email" placeholder="Mail" name="email">
                </div>
            </div>
            <div class="input-group wdth-hun">
                <label for="PhoneNumber" class="sr-only">Phone Number</label>
                <div class="input-group wdth-hun">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="PhoneNumber" placeholder="Phone Number" name="telephone">
                </div>
            </div>
            <div class="input-group wdth-hun">
                <label for="password" class="sr-only">Password</label>
                <div class="input-group wdth-hun">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
            </div>
            <div class="input-group wdth-hun">
                <label for="password" class="sr-only">Confirm your password</label>
                <div class="input-group wdth-hun">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" placeholder="Confirm Password" id="confirmpass">
                </div>
            </div>
            <button type="submit" class="btn btn-lg wdth-hun">Submit</button>
            <a href="/home" type="submit" class="btn btn-lg">Cancel</a>
        </form>
    </div>
    <div class="login_footer">
        (c) 2017 by HSRmarket. All rights reserved.
    </div>
</div>
