<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">HSRmarket</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li class="nav-link">
                <a href="/">Home</a>
            </li>
            <li class="nav-link">
                <a href="/createArticle">Add Book</a>
            </li>
            <li class="nav-link">
                <a href="/fetch">List All</a>
            </li>
        </ul>
    </div>
</div>
<div class="row" style="padding: 1rem">
    <div class="column">
        <h3> You have successfully added the following book to the list.</h3>
        <div>
            <h5>ID: {{id}}</h5>
            <h5>IBAN number: {{iban}}</h5>
            <h5>Autor: {{author}}</h5>
        </div>
    </div>
</div>

